// Mixins Here
.custom-layout(@flex-dir, @justify, @align) {
    display: flex;
    flex-direction: @flex-dir;
    justify-content: @justify;
    align-items: @align;
}

.element-boxing(@margin, @padding){
    margin: @margin;
    padding: @padding;
}