// Navigation code here
section.nav {
    .custom-layout(column, space-between, center);
    .element-boxing(10px, 12px);
    // border: 1px solid blue;

    h1 {
        .element-boxing(1%, 1%);
    }
   
    a {
        text-decoration: none;
        color: @links;
        font-size: 1.6rem;
        .element-boxing(5px, 5px);
    }

}